.gif--container {
    @include custom_center(column, center, center);
    margin-bottom: 20px;
    position: relative;
    transition: 0.5s all;

    .gif--img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .gif--hover-container {
        display: none;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        background-color: $hover_gif_color;

        .gif--content-actions {
            @include custom_center(row, center, center);
            position: absolute;
            top: 10px;
            right: 10px;

            .gif--content-action-item {
                @include custom_center(row, center, center);
                opacity: .7;
                cursor: pointer;
                width: 32px;
                height: 32px;
                border-radius: 6px;
                background-color: #fff;
                margin: 0 5px;
                color: $purple_color;
                transition: .2s all;

                &:hover {
                    opacity: 1;
                }
            }
        }

        .gif--info {
            @include custom_center(column, center, flex-start);
            position: absolute;
            bottom: 10px;
            left: 10px;
            color: #fff;

            .gif--info-subtitle {
                font-size: 0.8rem;
                margin-bottom: 3px;
            }

            .gif--info-title {
                font-family: $bold;
            }
        }
    }

    &:hover {
        .gif--hover-container {
            display: block;
        }
    }
}
